repos:
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'bbc3dc1'
    hooks:
      - id: mypy
        args:
          - --check-untyped-defs
          - --ignore-missing-imports
          - --install-types
          - --non-interactive
          - --scripts-are-modules
          - --warn-unused-ignores
        stages:
          - manual

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.1.0"
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: pretty-format-json
        exclude: "docs/"

  - repo: https://github.com/psf/black
    rev: "25.1.0"
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.11.7"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
